<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>" >
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" >
    <meta name = "format-detection" content = "telephone=no">
  </head>
  <body>
    <div class="wrap-share-icon">
      <img src="<%= htmlWebpackPlugin.options.shareIcon %>" class="share-icon" />
    </div>
  	<div id="root"></div>
    <script type="text/javascript" src='./vendor.dll.js'></script>
  </body>
</html>
