.example-enter {
  opacity: 0.01;
  transition: opacity 1.5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 1.5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}
.animation-opacity{
  -webkit-animation: lazyload 1s ease;
}
@-webkit-keyframes lazyload {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
